In [80]:
import pandas as pd
import numpy as np

In [81]:
car_df = pd.read_csv('~/data/cars.csv')
brand_df = pd.read_csv('~/data/brand.csv')

In [82]:
car_df.head()

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Emission Class,Service history
0,SKODA FABIA,6900,70189,2016,3.0,Diesel,Hatchback,1.4L,Manual,5.0,5.0,Euro 6,NaN
1,VAUXHALL CORSA,1495,88585,2008,4.0,Petrol,Hatchback,1.2L,Manual,3.0,5.0,Euro 4,Full
2,HYUNDAI I30,949,137000,2011,NaN,Petrol,Hatchback,1.4L,Manual,5.0,5.0,Euro 5,NaN
3,MINI HATCH,2395,96731,2010,5.0,Petrol,Hatchback,1.4L,Manual,3.0,4.0,Euro 4,Full
4,VAUXHALL CORSA,1000,85000,2013,NaN,Diesel,Hatchback,1.3L,Manual,5.0,5.0,Euro 5,NaN

In [83]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3687 entries, 0 to 3686
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              3687 non-null   object
 1   Price              3687 non-null   int64
 2   Mileage(miles)     3687 non-null   int64
 3   Registration_Year  3687 non-null   int64
 4   Previous Owners    2276 non-null   float64
 5   Fuel type          3687 non-null   object
 6   Body type          3687 non-null   object
 7   Engine             3642 non-null   object
 8   Gearbox            3687 non-null   object
 9   Doors              3662 non-null   float64
 10  Seats              3652 non-null   float64
 11  Emission Class     3600 non-null   object
 12  Service history    540 non-null    object
dtypes: float64(3), int64(3), object(7)
memory usage: 374.6+ KB

In [84]:
brand_df.head()

      title         country
0     skoda  Czech Republic
1  vauxhall  United Kingdom
2   hyundai     South Korea
3      mini  United Kingdom
4      ford   United States

In [85]:
brand_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    48 non-null     object
 1   country  48 non-null     object
dtypes: object(2)
memory usage: 896.0+ bytes

In [86]:
# cars.csv와 brand.csv의 데이터 합치기. [힌트] cars.csv의 title 변수로부터 브랜드 데이터를 추출
car_df['title'].unique()

array(['SKODA FABIA', 'VAUXHALL CORSA', 'HYUNDAI I30', 'MINI HATCH',
       'HYUNDAI COUPE', 'FORD FOCUS', 'VOLVO 740', 'PEUGEOT 207',
       'FORD FIESTA', 'VAUXHALL INSIGNIA', 'BMW 3 SERIES', 'CITROEN C1',
       'CITROEN C4', 'VAUXHALL ASTRA', 'FORD MONDEO',
       'MERCEDES-BENZ A180', 'PEUGEOT 407', 'FORD KA',
       'MERCEDES-BENZ A CLASS', 'MAZDA MAZDA2', 'SAAB 9-3',
       'VOLKSWAGEN POLO', 'BMW 1 SERIES', 'HONDA ACCORD',
       'VOLKSWAGEN BEETLE', 'MG MG6', 'FORD C-MAX', 'HONDA CIVIC',
       'TOYOTA AURIS', 'VOLVO S40', 'SEAT IBIZA', 'PEUGEOT 308',
       'VAUXHALL MERIVA', 'MERCEDES-BENZ B CLASS', 'MAZDA MAZDA3',
       'NISSAN 350 Z', 'ALFA ROMEO MITO', 'RENAULT FLUENCE',
       'VOLKSWAGEN PASSAT', 'KIA SPORTAGE', 'CITROEN XM',
       'VAUXHALL ANTARA', 'NISSAN NOTE', 'BMW 5 SERIES', 'HONDA CR-V',
       'PROTON SAVVY', 'NISSAN MICRA', 'FIAT PANDA', 'RENAULT MEGANE',
       'RENAULT CLIO', 'HYUNDAI I20', 'CITROEN C3', 'AUDI A6 SALOON',
       'TOYOTA YARIS', 'FIAT 500', 'MERCEDES-BENZ M CLASS', 'AUDI A4',
       'PEUGEOT 308 SW', 'FORD S-MAX', 'PEUGEOT 1007', 'HONDA ODYSSEY',
       'PEUGEOT 307 CC', 'HONDA JAZZ', 'MERCEDES-BENZ CLK', 'CITROEN DS4',
       'KIA RIO', 'VOLKSWAGEN GOLF', 'MITSUBISHI OUTLANDER',
       'VOLKSWAGEN SCIROCCO', 'TOYOTA COROLLA', 'AUDI A3', 'CITROEN DS3',
       'VAUXHALL ZAFIRA', 'FIAT GRANDE PUNTO', 'PEUGEOT 508',
       'MERCEDES-BENZ 260', 'MG MIDGET', 'VAUXHALL ADAM', 'AUDI A6 AVANT',
       'NISSAN QASHQAI', 'NISSAN ALMERA TINO', 'MERCEDES-BENZ C CLASS',
       'TOYOTA AVENSIS', 'RENAULT GRAND SCENIC', 'MAZDA MAZDA 2',
       'VOLKSWAGEN TOURAN', 'MITSUBISHI ASX', 'LEXUS GS 300',
       'LAND ROVER FREELANDER', 'PEUGEOT 307', 'FIAT PUNTO EVO',
       'NISSAN ALMERA', 'LEXUS IS 250', 'CHEVROLET CRUZE',
       'HYUNDAI VELOSTER', 'FORD FUSION', 'VAUXHALL VECTRA',
       'BMW 7 SERIES', 'PEUGEOT 208', 'SUZUKI GRAND VITARA',
       'PEUGEOT 2008', 'PEUGEOT 107', 'RENAULT SCENIC', 'VOLVO V50',
       'MITSUBISHI COLT', 'HYUNDAI IX35', 'HYUNDAI IX20', 'FIAT DOBLO',
       'FORD MUSTANG', 'SKODA OCTAVIA', 'DACIA SANDERO',
       'DAIHATSU TERIOS', 'ALFA ROMEO GIULIETTA', 'FIAT PUNTO',
       'CITROEN C3 PICASSO', 'CHEVROLET MATIZ', 'JEEP COMPASS',
       'VAUXHALL TIGRA', 'JAGUAR XE', 'CHRYSLER SEBRING',
       'NISSAN X-TRAIL', 'PEUGEOT 108', 'PEUGEOT 207 SW', 'BMW X3',
       'ALFA ROMEO 159', 'KIA CEED', 'JAGUAR X-TYPE', 'SUZUKI JIMNY',
       'NISSAN LAFESTA', 'VOLVO C30', 'TOYOTA VERSO',
       'MERCEDES-BENZ E CLASS', 'PEUGEOT 206', 'CHEVROLET CAPTIVA',
       'TOYOTA RAV4', 'HONDA FR-V', 'MERCEDES-BENZ CLS', 'TOYOTA AYGO',
       'LAND ROVER RANGE ROVER EVOQUE', 'ROVER 75', 'PEUGEOT 5008',
       'MERCEDES-BENZ C-CLASS', 'RENAULT LAGUNA', 'NISSAN QASHQAI+2',
       'JAGUAR XF', 'MERCEDES-BENZ SLK', 'AUDI A5', 'ALFA ROMEO GT',
       'TOYOTA COROLLA VERSO', 'PEUGEOT PARTNER TEPEE', 'PEUGEOT 3008',
       'FIAT 500C', 'ROVER MINI', 'VAUXHALL MOKKA',
       'CITROEN GRAND C4 PICASSO', 'VOLKSWAGEN JETTA', 'BMW X5',
       'VAUXHALL ASTRA GTC', 'LAND ROVER RANGE ROVER SPORT',
       'FORD GRAND C-MAX', 'TOYOTA PRIUS', 'VOLKSWAGEN TIGUAN',
       'MITSUBISHI FTO', 'LAND ROVER RANGE ROVER', 'BMW Z4',
       'SUZUKI SWIFT', 'TOYOTA CAMRY', 'LEXUS LS 430',
       'CITROEN C4 CACTUS', 'DS AUTOMOBILES DS 3', 'KIA PICANTO',
       'VOLVO S80', 'SUZUKI SX4 S-CROSS', 'DAEWOO KALOS',
       'VOLKSWAGEN EOS', 'SUZUKI ALTO', 'CHEVROLET AVEO', 'DODGE NITRO',
       'TOYOTA MARK X', 'NISSAN JUKE', 'MAZDA MAZDA6', 'NISSAN CUBIC',
       'KIA SOUL', 'BMW X1', 'NISSAN PATHFINDER', 'VOLKSWAGEN GOLF PLUS',
       'MAZDA CX-5', 'MINI CONVERTIBLE', 'CHRYSLER 300C', 'HONDA FREED',
       'HONDA LEGEND', 'NISSAN ELGRAND', 'SKODA SUPERB',
       'SKODA RAPID SPACEBACK', 'CHRYSLER YPSILON', 'SAAB 900',
       'FORD B-MAX', 'CHEVROLET SPARK', 'PEUGEOT 306',
       'VOLKSWAGEN PHAETON', 'LEXUS CT 200H', 'AUDI A1', 'NISSAN MURANO',
       'PEUGEOT 406', 'MG MG3', 'JEEP RENEGADE', 'FIAT 500L',
       'CHRYSLER GRAND VOYAGER', 'BMW 4 SERIES', 'RENAULT CAPTUR',
       'PORSCHE 944', 'FORD GALAXY', 'HYUNDAI ACCENT', 'VOLVO S60',
       'NISSAN SUNNY', 'SUBARU IMPREZA', 'VOLKSWAGEN BORA',
       'NISSAN PRIMERA', 'VOLVO V70', 'PORSCHE CAYENNE', 'RENAULT KANGOO',
       'SEAT ALTEA', 'SKODA RAPID', 'LAND ROVER FREELANDER 2',
       'HYUNDAI GETZ', 'CITROEN BX', 'TOYOTA IQ', 'SUZUKI LIANA',
       'MITSUBISHI SHOGUN SPORT', 'INFINITI Q30', 'MERCEDES-BENZ S CLASS',
       'HYUNDAI I10', 'AUDI TT', 'MAZDA 3', 'FORD KUGA', 'BMW ALPINA D3',
       'RENAULT TWINGO', 'FIAT 500X', 'VOLVO V60',
       'MERCEDES-BENZ SL CLASS', 'HYUNDAI I40', 'MAZDA RX-8',
       'CITROEN XSARA PICASSO', 'INFINITI G', 'VOLVO V40',
       'SUBARU OUTBACK', 'SEAT LEON', 'PEUGEOT RCZ', 'INFINITI M',
       'HYUNDAI TUCSON', 'VAUXHALL ZAFIRA TOURER', 'SKODA ROOMSTER',
       'ABARTH 500', 'SUZUKI SPLASH', 'CITROEN BERLINGO', 'AUDI A4 AVANT',
       'SUZUKI SX4', 'VOLKSWAGEN CC', 'SMART FORTWO',
       'DACIA SANDERO STEPWAY', 'MITSUBISHI SHOGUN', 'AUDI A3 CABRIOLET',
       'BMW 2 SERIES', 'MAZDA MX-5', 'MINI HATCH ONE', 'HONDA CR-Z',
       'MINI COUNTRYMAN', 'RENAULT GRAND ESPACE', 'JAGUAR S-TYPE',
       'DACIA LOGAN MCV', 'VAUXHALL INSIGNIA GRAND SPORT',
       'MERCEDES-BENZ B-CLASS', 'KIA OPTIMA', 'KIA SORENTO',
       'PEUGEOT 207 CC', 'MAZDA CX-3', 'AUDI Q7', 'MINI CLUBMAN',
       'JAGUAR XJ', 'VAUXHALL GRANDLAND X', 'FORD FOCUS CC',
       'SMART FORFOUR', 'JEEP GRAND CHEROKEE', 'AUDI A6',
       'MITSUBISHI LANCER', 'MG ZT', 'BMW X6', 'PROTON PROTON',
       'VOLKSWAGEN POLO HATCHBACK',
       'ABARTH FIAT 595 1.4 TJET (165PS) SCORPIONEORO',
       'MINI HATCH COOPER', 'BMW 4 SERIES GRAN COUPE', 'KIA STONIC',
       'TOYOTA PRIUS+', 'KIA PROCEED', 'DS AUTOMOBILES DS 7 CROSSBACK',
       'FORD ECOSPORT', 'CITROEN C4 PICASSO', 'MERCEDES-BENZ S-CLASS',
       'DS AUTOMOBILES DS 9', 'LEXUS SC 430', 'MAZDA MX-30',
       'MERCEDES-BENZ CL', 'SUBARU XV', 'AUDI Q3', 'HYUNDAI SANTA FE',
       'PEUGEOT 508 SW', 'SKODA CITIGO', 'AUDI A5 DIESEL COUPE',
       'NISSAN LEAF', 'NISSAN QASHQAI HATCHBACK SPECIAL EDITIONS',
       'AUDI A4 CABRIOLET', 'VOLKSWAGEN SHARAN', 'SKODA YETI',
       'TOYOTA URBANCRUISER', 'SKODA FABIA DIESEL ESTATE', 'KIA VENGA',
       'CITROEN DS3 CABRIO', 'MARCOS MARTINA', 'HYUNDAI KONA',
       'SUZUKI SWIFT HATCHBACK', 'VOLKSWAGEN T-CROSS',
       'VAUXHALL CORSA HATCHBACK', 'VAUXHALL VIVA HATCHBACK',
       'MASERATI GRANTURISMO', 'AUDI A5 CABRIOLET', 'SEAT TARRACO',
       'VAUXHALL COMBO', 'VAUXHALL AGILA', 'MERCEDES-BENZ A-CLASS',
       'INFINITI FX', 'PEUGEOT 308 CC', 'VOLVO XC90',
       'LAND ROVER RANGE ROVER EVOQUE DIESEL HATCHBACK',
       'FORD FOCUS DIESEL HATCHBACK', 'CITROEN C3 AIRCROSS DIESEL MPV',
       'MITSUBISHI GTO', 'MINI PACEMAN', 'VAUXHALL CROSSLAND X',
       'FORD KUGA DIESEL HATCHBACK', 'KIA SPORTAGE DIESEL ESTATE',
       'MERCEDES-BENZ CLA CLASS', 'INFINITI EX', 'RENAULT MEGANE HATCH',
       'NISSAN X-TRAIL DIESEL ESTATE', 'NISSAN QASHQAI DIESEL HATCHBACK',
       'KIA CEED DIESEL HATCHBACK', 'JAGUAR XE DIESEL SALOON',
       'MASERATI GHIBLI', 'FORD FOCUS HATCHBACK', 'NISSAN PULSAR',
       'FORD FIESTA HATCHBACK', 'MERCEDES-BENZ E CLASS DIESEL COUPE',
       'CITROEN C6', 'CITROEN C3 AIRCROSS', 'SUZUKI VITARA',
       'MITSUBISHI L200', 'SKODA KAMIQ',
       'VAUXHALL CORSA HATCHBACK SPECIAL EDS', 'HONDA JAZZ HATCHBACK',
       'MERCEDES-BENZ E CLASS DIESEL ESTATE',
       'VOLKSWAGEN JETTA DIESEL SALOON', 'HYUNDAI I20 HATCHBACK',
       'MINI COUPE', 'MERCEDES-BENZ GLA CLASS',
       'NISSAN NAVARA DIESEL PICK UP', 'MAZDA 2', 'MG MG HS', 'HONDA FIT',
       'MINI HATCHBACK', 'SKODA KAROQ ESTATE',
       'BMW 3 SERIES GRAN TURISMO', 'FORD KA+',
       'BMW 5 SERIES GRAN TURISMO', 'HYUNDAI IONIQ', 'CHEVROLET TRAX',
       'RENAULT MODUS', 'VAUXHALL INSIGNIA SPORTS TOURER',
       'FORD KUGA ESTATE', 'SUZUKI IGNIS', 'SSANGYONG KORANDO',
       'DACIA DUSTER', 'VAUXHALL MOKKA X', 'HONDA CIVIC DIESEL HATCHBACK',
       'NISSAN QASHQAI HATCHBACK', 'CITROEN C4 PICASSO DIESEL MPV',
       'FORD FOCUS ACTIVE', 'RENAULT ARKANA',
       'VOLKSWAGEN SCIROCCO DIESEL COUPE', 'LAND ROVER DISCOVERY SPORT',
       'VOLVO C70', 'MAZDA MAZDA3 HATCHBACK', 'VOLKSWAGEN GOLF HATCHBACK',
       'VAUXHALL CROSSLAND', 'VOLKSWAGEN PASSAT PETROL/ELECTRIC SALOON',
       'PEUGEOT 2008 ESTATE', 'LAGONDA LG6 ROADSTER', 'VOLKSWAGEN UP!',
       'VAUXHALL AMPERA', 'VOLKSWAGEN UP', 'MASERATI QUATTROPORTE',
       'FORD ECOSPORT HATCHBACK', 'SUBARU FORESTER', 'AUDI A3 HATCHBACK',
       'KIA XCEED', 'DS AUTOMOBILES DS 3 CROSSBACK', 'AUDI Q5',
       'INFINITI Q50', 'FIAT FULLBACK', 'AUDI S3', 'AUDI A1 SPORTBACK',
       'MG MG ZS', 'SEAT ATECA', 'MERCEDES-BENZ A CLASS DIESEL HATCHBACK',
       'AUDI A7', 'ABARTH 595', 'RENAULT KOLEOS',
       'PEUGEOT 208 PURETECH ACTIVE PREMIUM S/S HATCHBACK',
       'DACIA DUSTER ESTATE', 'VOLKSWAGEN GOLF DIESEL HATCHBACK',
       'LAND ROVER DISCOVERY 4', 'AUDI Q2 ESTATE',
       'BMW 2 SERIES DIESEL GRAN TOURER',
       'VAUXHALL CROSSLAND X HATCHBACK', 'MERCEDES-BENZ GLE CLASS',
       'MAZDA MAZDA6 TOURER', 'KIA SPORTAGE ESTATE', 'BMW X3 SERIES',
       'VOLKSWAGEN CADDY MAXI LIFE', 'KIA XCEED HATCHBACK', 'FIAT STILO',
       'AUDI A6 ALLROAD', 'SEAT TOLEDO', 'FORD STREETKA', 'JEEP PATRIOT',
       'MG TF', 'MG ZR', 'FIAT MULTIPLA', 'VOLKSWAGEN LUPO',
       'PEUGEOT 206 CC', 'CHRYSLER PT CRUISER', 'FORD FOCUS C-MAX',
       'ROVER 45', 'LEXUS GS 450H', 'TOYOTA CARINA', 'CITROEN C5',
       'HYUNDAI AMICA', 'ALFA ROMEO BRERA', 'VAUXHALL VIVARO',
       'PEUGEOT 607', 'ISUZU TROOPER', 'FIAT IDEA', 'ROVER 800',
       'JEEP CHEROKEE', 'HONDA PRELUDE'], dtype=object)

In [87]:
brand_df['title'].nunique()

48

In [88]:
car_title=car_df['title'].str.split(expand=True)

In [89]:
car_title

             0       1       2     3     4     5     6
0        SKODA   FABIA    None  None  None  None  None
1     VAUXHALL   CORSA    None  None  None  None  None
2      HYUNDAI     I30    None  None  None  None  None
3         MINI   HATCH    None  None  None  None  None
4     VAUXHALL   CORSA    None  None  None  None  None
...        ...     ...     ...   ...   ...   ...   ...
3682   RENAULT  MEGANE    None  None  None  None  None
3683      AUDI      A4    None  None  None  None  None
3684       BMW       3  SERIES  None  None  None  None
3685     HONDA  ACCORD    None  None  None  None  None
3686  VAUXHALL   CORSA    None  None  None  None  None

[3687 rows x 7 columns]

In [90]:
car_title[0].nunique()

48

In [91]:
car_df['title'].str.split()[0]

['SKODA', 'FABIA']

In [92]:
car_df['title'].str.split().apply(lambda x:x[0]) # 각 행의 리스트에 반복으로 수식 적용(확인)

0          SKODA
1       VAUXHALL
2        HYUNDAI
3           MINI
4       VAUXHALL
          ...
3682     RENAULT
3683        AUDI
3684         BMW
3685       HONDA
3686    VAUXHALL
Name: title, Length: 3687, dtype: object

In [93]:
car_df['car_brand'] = car_df['title'].str.split().apply(lambda x:x[0])

In [94]:
car_df.head()

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Emission Class,Service history,car_brand
0,SKODA FABIA,6900,70189,2016,3.0,Diesel,Hatchback,1.4L,Manual,5.0,5.0,Euro 6,NaN,SKODA
1,VAUXHALL CORSA,1495,88585,2008,4.0,Petrol,Hatchback,1.2L,Manual,3.0,5.0,Euro 4,Full,VAUXHALL
2,HYUNDAI I30,949,137000,2011,NaN,Petrol,Hatchback,1.4L,Manual,5.0,5.0,Euro 5,NaN,HYUNDAI
3,MINI HATCH,2395,96731,2010,5.0,Petrol,Hatchback,1.4L,Manual,3.0,4.0,Euro 4,Full,MINI
4,VAUXHALL CORSA,1000,85000,2013,NaN,Diesel,Hatchback,1.3L,Manual,5.0,5.0,Euro 5,NaN,VAUXHALL

In [95]:
brand_df['title']=brand_df['title'].str.upper()

In [96]:
brand_df.head()

      title         country
0     SKODA  Czech Republic
1  VAUXHALL  United Kingdom
2   HYUNDAI     South Korea
3      MINI  United Kingdom
4      FORD   United States

In [97]:
brand_df=brand_df.rename({'title':'car_brand'},axis=1)

In [98]:
brand_df.head()

  car_brand         country
0     SKODA  Czech Republic
1  VAUXHALL  United Kingdom
2   HYUNDAI     South Korea
3      MINI  United Kingdom
4      FORD   United States

In [99]:
# car_brand 로 자료 합치기
car_df = car_df.merge(brand_df, on = 'car_brand', how = 'left')

In [100]:
car_df.head()

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Emission Class,Service history,car_brand,country
0,SKODA FABIA,6900,70189,2016,3.0,Diesel,Hatchback,1.4L,Manual,5.0,5.0,Euro 6,NaN,SKODA,Czech Republic
1,VAUXHALL CORSA,1495,88585,2008,4.0,Petrol,Hatchback,1.2L,Manual,3.0,5.0,Euro 4,Full,VAUXHALL,United Kingdom
2,HYUNDAI I30,949,137000,2011,NaN,Petrol,Hatchback,1.4L,Manual,5.0,5.0,Euro 5,NaN,HYUNDAI,South Korea
3,MINI HATCH,2395,96731,2010,5.0,Petrol,Hatchback,1.4L,Manual,3.0,4.0,Euro 4,Full,MINI,United Kingdom
4,VAUXHALL CORSA,1000,85000,2013,NaN,Diesel,Hatchback,1.3L,Manual,5.0,5.0,Euro 5,NaN,VAUXHALL,United Kingdom

In [101]:
# 카테고리형 변수를 숫자 형태로 변환하기 [힌트] Engine, `Emission Class` 변수에 주목하세요
car_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3687 entries, 0 to 3686
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              3687 non-null   object
 1   Price              3687 non-null   int64
 2   Mileage(miles)     3687 non-null   int64
 3   Registration_Year  3687 non-null   int64
 4   Previous Owners    2276 non-null   float64
 5   Fuel type          3687 non-null   object
 6   Body type          3687 non-null   object
 7   Engine             3642 non-null   object
 8   Gearbox            3687 non-null   object
 9   Doors              3662 non-null   float64
 10  Seats              3652 non-null   float64
 11  Emission Class     3600 non-null   object
 12  Service history    540 non-null    object
 13  car_brand          3687 non-null   object
 14  country            3687 non-null   object
dtypes: float64(3), int64(3), object(9)
memory usage: 460.9+ KB

In [102]:
car_df[['Engine','Engine_unit']]=car_df['Engine'].str.extract(r'([\d\.]+)\s*([a-zA-Z]+)')  # extract
# split()을 써서 L을 제거해 줄 수도 있음.

In [103]:
car_df.head() # 단위 옆에 붙질 않네. 조정은 나중에 하자

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Emission Class,Service history,car_brand,country,Engine_unit
0,SKODA FABIA,6900,70189,2016,3.0,Diesel,Hatchback,1.4,Manual,5.0,5.0,Euro 6,NaN,SKODA,Czech Republic,L
1,VAUXHALL CORSA,1495,88585,2008,4.0,Petrol,Hatchback,1.2,Manual,3.0,5.0,Euro 4,Full,VAUXHALL,United Kingdom,L
2,HYUNDAI I30,949,137000,2011,NaN,Petrol,Hatchback,1.4,Manual,5.0,5.0,Euro 5,NaN,HYUNDAI,South Korea,L
3,MINI HATCH,2395,96731,2010,5.0,Petrol,Hatchback,1.4,Manual,3.0,4.0,Euro 4,Full,MINI,United Kingdom,L
4,VAUXHALL CORSA,1000,85000,2013,NaN,Diesel,Hatchback,1.3,Manual,5.0,5.0,Euro 5,NaN,VAUXHALL,United Kingdom,L

In [104]:
car_df['Engine'] = pd.to_numeric(car_df['Engine'])

In [105]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3687 entries, 0 to 3686
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              3687 non-null   object
 1   Price              3687 non-null   int64
 2   Mileage(miles)     3687 non-null   int64
 3   Registration_Year  3687 non-null   int64
 4   Previous Owners    2276 non-null   float64
 5   Fuel type          3687 non-null   object
 6   Body type          3687 non-null   object
 7   Engine             3642 non-null   float64
 8   Gearbox            3687 non-null   object
 9   Doors              3662 non-null   float64
 10  Seats              3652 non-null   float64
 11  Emission Class     3600 non-null   object
 12  Service history    540 non-null    object
 13  car_brand          3687 non-null   object
 14  country            3687 non-null   object
 15  Engine_unit        3642 non-null   object
dtypes: float64(4), int64(3), object(9)
memory usage: 489.7+ KB

In [106]:
car_df['Emission Class(Euro)'] = car_df['Emission Class'].str.split(expand=True)[1]

In [107]:
# 숫자 형태로 바꾸려고 했더니, NaN값이 있네
car_df['Emission Class(Euro)'].astype('int')

ValueError: cannot convert float NaN to integer

In [108]:
pd.to_numeric(car_df['Emission Class(Euro)'], errors='coerce') # or car_df['Emission Class(Euro)'].fillna(0).astype('int')

0       6.0
1       4.0
2       5.0
3       4.0
4       5.0
       ...
3682    4.0
3683    5.0
3684    5.0
3685    4.0
3686    5.0
Name: Emission Class(Euro), Length: 3687, dtype: float64

In [109]:
car_df['Emission Class(Euro)'] = pd.to_numeric(car_df['Emission Class(Euro)'], errors='coerce')

In [110]:
car_df.drop(['Emission Class'], axis=1, inplace = True)

In [111]:
car_df[car_df.duplicated()] # drop

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Service history,car_brand,country,Engine_unit,Emission Class(Euro)
12,SKODA FABIA,6900,70189,2016,3.0,Diesel,Hatchback,1.4,Manual,5.0,5.0,NaN,SKODA,Czech Republic,L,6.0
20,CITROEN C4,1949,114000,2013,NaN,Diesel,Hatchback,1.6,Manual,5.0,5.0,NaN,CITROEN,France,L,5.0
25,VAUXHALL INSIGNIA,2950,79000,2011,4.0,Petrol,Hatchback,1.8,Manual,5.0,5.0,NaN,VAUXHALL,United Kingdom,L,5.0
39,MERCEDES-BENZ A CLASS,15900,62402,2019,1.0,Petrol,Hatchback,1.3,Automatic,5.0,5.0,NaN,MERCEDES-BENZ,Germany,L,6.0
52,VAUXHALL CORSA,10698,22782,2020,NaN,Petrol,Hatchback,1.2,Manual,5.0,5.0,NaN,VAUXHALL,United Kingdom,L,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3662,MINI HATCH,11999,33156,2018,1.0,Petrol,Hatchback,1.5,Manual,5.0,5.0,Full,MINI,United Kingdom,L,6.0
3663,VAUXHALL ASTRA,4999,60139,2015,2.0,Petrol,Hatchback,1.6,Manual,5.0,5.0,NaN,VAUXHALL,United Kingdom,L,6.0
3674,MITSUBISHI OUTLANDER,1489,145000,2007,NaN,Diesel,SUV,2.0,Manual,5.0,7.0,NaN,MITSUBISHI,Japan,L,4.0
3675,VAUXHALL ASTRA,4999,60139,2015,2.0,Petrol,Hatchback,1.6,Manual,5.0,5.0,NaN,VAUXHALL,United Kingdom,L,6.0
3676,VAUXHALL ASTRA,4999,60139,2015,2.0,Petrol,Hatchback,1.6,Manual,5.0,5.0,NaN,VAUXHALL,United Kingdom,L,6.0

In [112]:
car_df = car_df.drop_duplicates()

In [113]:
car_df

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Service history,car_brand,country,Engine_unit,Emission Class(Euro)
0,SKODA FABIA,6900,70189,2016,3.0,Diesel,Hatchback,1.4,Manual,5.0,5.0,NaN,SKODA,Czech Republic,L,6.0
1,VAUXHALL CORSA,1495,88585,2008,4.0,Petrol,Hatchback,1.2,Manual,3.0,5.0,Full,VAUXHALL,United Kingdom,L,4.0
2,HYUNDAI I30,949,137000,2011,NaN,Petrol,Hatchback,1.4,Manual,5.0,5.0,NaN,HYUNDAI,South Korea,L,5.0
3,MINI HATCH,2395,96731,2010,5.0,Petrol,Hatchback,1.4,Manual,3.0,4.0,Full,MINI,United Kingdom,L,4.0
4,VAUXHALL CORSA,1000,85000,2013,NaN,Diesel,Hatchback,1.3,Manual,5.0,5.0,NaN,VAUXHALL,United Kingdom,L,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3682,RENAULT MEGANE,1395,76202,2006,4.0,Petrol,Hatchback,1.6,Manual,5.0,5.0,NaN,RENAULT,France,L,4.0
3683,AUDI A4,6990,119000,2012,NaN,Petrol,Saloon,2.0,Manual,4.0,5.0,NaN,AUDI,Germany,L,5.0
3684,BMW 3 SERIES,3995,139000,2013,NaN,Diesel,Saloon,2.0,Manual,4.0,5.0,NaN,BMW,Germany,L,5.0
3685,HONDA ACCORD,1390,179190,2007,NaN,Diesel,Estate,2.2,Manual,5.0,5.0,Full,HONDA,Japan,L,4.0
3686,VAUXHALL CORSA,2000,82160,2013,7.0,Petrol,Hatchback,1.2,Manual,5.0,5.0,NaN,VAUXHALL,United Kingdom,L,5.0

In [114]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2859 entries, 0 to 3686
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 2859 non-null   object
 1   Price                 2859 non-null   int64
 2   Mileage(miles)        2859 non-null   int64
 3   Registration_Year     2859 non-null   int64
 4   Previous Owners       1876 non-null   float64
 5   Fuel type             2859 non-null   object
 6   Body type             2859 non-null   object
 7   Engine                2842 non-null   float64
 8   Gearbox               2859 non-null   object
 9   Doors                 2834 non-null   float64
 10  Seats                 2824 non-null   float64
 11  Service history       446 non-null    object
 12  car_brand             2859 non-null   object
 13  country               2859 non-null   object
 14  Engine_unit           2842 non-null   object
 15  Emission Class(Euro)  2800 non-null   float64
dtypes: float64(5), int64(3), object(8)
memory usage: 379.7+ KB

In [115]:
car_df = car_df.reset_index(drop=True)

In [116]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2859 entries, 0 to 2858
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 2859 non-null   object
 1   Price                 2859 non-null   int64
 2   Mileage(miles)        2859 non-null   int64
 3   Registration_Year     2859 non-null   int64
 4   Previous Owners       1876 non-null   float64
 5   Fuel type             2859 non-null   object
 6   Body type             2859 non-null   object
 7   Engine                2842 non-null   float64
 8   Gearbox               2859 non-null   object
 9   Doors                 2834 non-null   float64
 10  Seats                 2824 non-null   float64
 11  Service history       446 non-null    object
 12  car_brand             2859 non-null   object
 13  country               2859 non-null   object
 14  Engine_unit           2842 non-null   object
 15  Emission Class(Euro)  2800 non-null   float64
dtypes: float64(5), int64(3), object(8)
memory usage: 357.5+ KB

In [117]:
# 결측치 처리하기. # [힌트]`Service history` 변수의 결측치는 'Unknown'으로 채우고, 결측치 변수가 일정 개수 이상 포함된 데이터는 제거
car_df.isna().mean() # Previous Owners 38%, Service history 85%, Emission Class(Euro) 24%, Engine 1.2%, Doors, Seats는 걍 지워도?

title                   0.000000
Price                   0.000000
Mileage(miles)          0.000000
Registration_Year       0.000000
Previous Owners         0.343827
Fuel type               0.000000
Body type               0.000000
Engine                  0.005946
Gearbox                 0.000000
Doors                   0.008744
Seats                   0.012242
Service history         0.844001
car_brand               0.000000
country                 0.000000
Engine_unit             0.005946
Emission Class(Euro)    0.020637
dtype: float64

In [118]:
car_df[car_df['Doors'].isna()]

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Service history,car_brand,country,Engine_unit,Emission Class(Euro)
403,NISSAN LAFESTA,3900,37000,2012,NaN,Petrol,MPV,2.0,Automatic,NaN,NaN,NaN,NISSAN,Japan,L,NaN
466,VAUXHALL ASTRA,3950,56800,2015,4.0,Diesel,Hatchback,1.7,Manual,NaN,5.0,NaN,VAUXHALL,United Kingdom,L,NaN
529,BMW 3 SERIES,4200,68060,2007,1.0,Petrol,Saloon,NaN,Automatic,NaN,NaN,Full,BMW,Germany,NaN,NaN
546,MITSUBISHI FTO,8900,58900,2001,NaN,Petrol,Coupe,2.0,Automatic,NaN,NaN,NaN,MITSUBISHI,Japan,L,NaN
640,VOLKSWAGEN POLO,6700,49600,2012,NaN,Petrol,Hatchback,1.2,Automatic,NaN,NaN,NaN,VOLKSWAGEN,Germany,L,NaN
652,TOYOTA MARK X,7500,77000,2021,3.0,Petrol,Saloon,NaN,Automatic,NaN,NaN,NaN,TOYOTA,Japan,NaN,NaN
667,NISSAN CUBIC,4500,47000,2007,3.0,Petrol,Hatchback,NaN,Manual,NaN,NaN,NaN,NISSAN,Japan,NaN,NaN
744,NISSAN ELGRAND,4200,96000,2017,3.0,Petrol,Minibus,2.0,Automatic,NaN,7.0,NaN,NISSAN,Japan,L,NaN
807,HONDA JAZZ,6750,33000,2013,NaN,Petrol Hybrid,Hatchback,1.5,Automatic,NaN,5.0,NaN,HONDA,Japan,L,NaN
821,VOLKSWAGEN POLO,6450,53193,2011,NaN,Petrol,Hatchback,1.2,Automatic,NaN,5.0,NaN,VOLKSWAGEN,Germany,L,NaN
823,BMW 3 SERIES,4000,94000,2007,2.0,Petrol,Saloon,2.5,Automatic,NaN,NaN,NaN,BMW,Germany,L,NaN
884,VOLKSWAGEN POLO,6900,35515,2012,NaN,Petrol,Hatchback,1.2,Automatic,NaN,5.0,NaN,VOLKSWAGEN,Germany,L,NaN
1011,MAZDA MAZDA6,1500,155670,2015,1.0,Diesel,Estate,NaN,Manual,NaN,NaN,NaN,MAZDA,Japan,NaN,NaN
1190,CITROEN C1,3900,71000,2015,3.0,Petrol,Hatchback,NaN,Manual,NaN,NaN,NaN,CITROEN,France,NaN,NaN
1252,VOLKSWAGEN GOLF,1895,61000,2001,5.0,Petrol,Hatchback,1.6,Automatic,NaN,5.0,NaN,VOLKSWAGEN,Germany,L,NaN
1258,FORD KA,2490,68837,2007,4.0,Petrol,Hatchback,NaN,Manual,NaN,NaN,Full,FORD,United States,NaN,NaN
1516,JAGUAR XJ,8000,95000,2011,5.0,Diesel,Saloon,3.0,Automatic,NaN,5.0,Full,JAGUAR,United Kingdom,L,NaN
1564,AUDI A3,5750,139225,2012,3.0,Diesel,Hatchback,NaN,Automatic,NaN,NaN,NaN,AUDI,Germany,NaN,NaN
1650,TOYOTA PRIUS,8950,66000,2012,NaN,Petrol Hybrid,Hatchback,NaN,Automatic,NaN,NaN,NaN,TOYOTA,Japan,NaN,NaN
1725,TOYOTA PRIUS,6350,72000,2012,1.0,Petrol Hybrid,Hatchback,1.8,Automatic,NaN,5.0,NaN,TOYOTA,Japan,L,NaN
1846,MARCOS MARTINA,11495,19000,1981,5.0,Petrol,Convertible,2.0,Manual,NaN,2.0,NaN,MARCOS,United Kingdom,L,NaN
1946,MITSUBISHI GTO,15000,60742,2003,4.0,Petrol,Coupe,3.0,Manual,NaN,NaN,NaN,MITSUBISHI,Japan,L,NaN
1954,FIAT 500L,5250,79308,2015,1.0,Diesel,MPV,NaN,Automatic,NaN,NaN,Full,FIAT,Italy,NaN,NaN
2100,VAUXHALL ASTRA GTC,5995,76000,2014,3.0,Diesel,Coupe,NaN,Manual,NaN,NaN,NaN,VAUXHALL,United Kingdom,NaN,NaN
2131,HONDA FIT,4450,79208,2010,1.0,Petrol,Hatchback,1.3,Automatic,NaN,5.0,NaN,HONDA,Japan,L,NaN

In [119]:
car_df[car_df['Seats'].isna()]

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Service history,car_brand,country,Engine_unit,Emission Class(Euro)
8,VOLVO 740,750,225318,2025,NaN,Petrol,Estate,2.3,Automatic,5.0,NaN,NaN,VOLVO,Sweden,L,NaN
90,CITROEN XM,3250,126000,1995,4.0,Diesel,Hatchback,2.5,Manual,5.0,NaN,NaN,CITROEN,France,L,2.0
185,MERCEDES-BENZ 260,2995,57400,1991,NaN,Petrol,Saloon,2.6,Automatic,4.0,NaN,NaN,MERCEDES-BENZ,Germany,L,NaN
190,MG MIDGET,1875,75043,1972,3.0,Petrol,Convertible,1.3,Manual,2.0,NaN,NaN,MG,United Kingdom,L,NaN
403,NISSAN LAFESTA,3900,37000,2012,NaN,Petrol,MPV,2.0,Automatic,NaN,NaN,NaN,NISSAN,Japan,L,NaN
504,ROVER MINI,1650,49309,1990,4.0,Petrol,Saloon,1.0,Automatic,2.0,NaN,NaN,ROVER,United Kingdom,L,NaN
529,BMW 3 SERIES,4200,68060,2007,1.0,Petrol,Saloon,NaN,Automatic,NaN,NaN,Full,BMW,Germany,NaN,NaN
546,MITSUBISHI FTO,8900,58900,2001,NaN,Petrol,Coupe,2.0,Automatic,NaN,NaN,NaN,MITSUBISHI,Japan,L,NaN
571,TOYOTA CAMRY,2389,125000,1990,NaN,Petrol,Estate,2.0,Automatic,5.0,NaN,NaN,TOYOTA,Japan,L,NaN
640,VOLKSWAGEN POLO,6700,49600,2012,NaN,Petrol,Hatchback,1.2,Automatic,NaN,NaN,NaN,VOLKSWAGEN,Germany,L,NaN
652,TOYOTA MARK X,7500,77000,2021,3.0,Petrol,Saloon,NaN,Automatic,NaN,NaN,NaN,TOYOTA,Japan,NaN,NaN
667,NISSAN CUBIC,4500,47000,2007,3.0,Petrol,Hatchback,NaN,Manual,NaN,NaN,NaN,NISSAN,Japan,NaN,NaN
724,BMW 3 SERIES,6700,105000,1999,7.0,Petrol,Coupe,2.5,Manual,2.0,NaN,NaN,BMW,Germany,L,2.0
781,SAAB 900,5995,157000,1992,5.0,Petrol,Convertible,2.0,Manual,2.0,NaN,NaN,SAAB,Sweden,L,1.0
819,VOLKSWAGEN GOLF,1250,110000,1996,NaN,Petrol,Convertible,2.0,Manual,2.0,NaN,NaN,VOLKSWAGEN,Germany,L,1.0
823,BMW 3 SERIES,4000,94000,2007,2.0,Petrol,Saloon,2.5,Automatic,NaN,NaN,NaN,BMW,Germany,L,NaN
957,NISSAN SUNNY,999,60000,1985,NaN,Petrol,Saloon,1.3,Manual,4.0,NaN,NaN,NISSAN,Japan,L,NaN
1011,MAZDA MAZDA6,1500,155670,2015,1.0,Diesel,Estate,NaN,Manual,NaN,NaN,NaN,MAZDA,Japan,NaN,NaN
1051,BMW 3 SERIES,3495,115000,1987,4.0,Petrol,Saloon,1.8,Automatic,4.0,NaN,NaN,BMW,Germany,L,NaN
1074,CITROEN BX,4975,96000,1990,3.0,Petrol,Hatchback,1.6,Manual,5.0,NaN,NaN,CITROEN,France,L,NaN
1190,CITROEN C1,3900,71000,2015,3.0,Petrol,Hatchback,NaN,Manual,NaN,NaN,NaN,CITROEN,France,NaN,NaN
1256,SEAT LEON,10995,76000,2017,NaN,Diesel,Hatchback,2.0,Manual,5.0,NaN,NaN,SEAT,Spain,L,NaN
1258,FORD KA,2490,68837,2007,4.0,Petrol,Hatchback,NaN,Manual,NaN,NaN,Full,FORD,United States,NaN,NaN
1443,BMW 5 SERIES,11490,104000,2015,NaN,Diesel,Saloon,2.0,Automatic,4.0,NaN,NaN,BMW,Germany,L,NaN
1564,AUDI A3,5750,139225,2012,3.0,Diesel,Hatchback,NaN,Automatic,NaN,NaN,NaN,AUDI,Germany,NaN,NaN
1565,PROTON PROTON,3995,15760,1995,NaN,Petrol,Hatchback,1.5,Manual,5.0,NaN,NaN,PROTON,Malaysia,L,1.0
1650,TOYOTA PRIUS,8950,66000,2012,NaN,Petrol Hybrid,Hatchback,NaN,Automatic,NaN,NaN,NaN,TOYOTA,Japan,NaN,NaN
1904,VAUXHALL COMBO,4250,35616,2010,1.0,Diesel,Combi Van,1.3,Manual,3.0,NaN,NaN,VAUXHALL,United Kingdom,L,4.0
1946,MITSUBISHI GTO,15000,60742,2003,4.0,Petrol,Coupe,3.0,Manual,NaN,NaN,NaN,MITSUBISHI,Japan,L,NaN
1954,FIAT 500L,5250,79308,2015,1.0,Diesel,MPV,NaN,Automatic,NaN,NaN,Full,FIAT,Italy,NaN,NaN
2100,VAUXHALL ASTRA GTC,5995,76000,2014,3.0,Diesel,Coupe,NaN,Manual,NaN,NaN,NaN,VAUXHALL,United Kingdom,NaN,NaN
2327,LAGONDA LG6 ROADSTER,14995,84000,1953,NaN,Petrol,Saloon,2.6,Manual,4.0,NaN,NaN,LAGONDA,United Kingdom,L,NaN
2398,VOLKSWAGEN GOLF,7000,130000,1988,1.0,Petrol,Convertible,1.8,Manual,2.0,NaN,NaN,VOLKSWAGEN,Germany,L,NaN
2683,TOYOTA CARINA,2450,120000,1991,NaN,Petrol,Saloon,1.6,Manual,4.0,NaN,NaN,TOYOTA,Japan,L,NaN
2849,ROVER 800,3975,34000,1995,NaN,Petrol,Saloon,2.7,Automatic,4.0,NaN,NaN,ROVER,United Kingdom,L,NaN

In [120]:
# `Service history` 변수의 결측치는 'Unknown'으로 채우기.
car_df['Service history'].fillna('Unknown')

0       Unknown
1          Full
2       Unknown
3          Full
4       Unknown
         ...
2854    Unknown
2855    Unknown
2856    Unknown
2857       Full
2858    Unknown
Name: Service history, Length: 2859, dtype: object

In [121]:
car_df['Service history']=car_df['Service history'].fillna('Unknown')

In [122]:
car_df.head()

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Service history,car_brand,country,Engine_unit,Emission Class(Euro)
0,SKODA FABIA,6900,70189,2016,3.0,Diesel,Hatchback,1.4,Manual,5.0,5.0,Unknown,SKODA,Czech Republic,L,6.0
1,VAUXHALL CORSA,1495,88585,2008,4.0,Petrol,Hatchback,1.2,Manual,3.0,5.0,Full,VAUXHALL,United Kingdom,L,4.0
2,HYUNDAI I30,949,137000,2011,NaN,Petrol,Hatchback,1.4,Manual,5.0,5.0,Unknown,HYUNDAI,South Korea,L,5.0
3,MINI HATCH,2395,96731,2010,5.0,Petrol,Hatchback,1.4,Manual,3.0,4.0,Full,MINI,United Kingdom,L,4.0
4,VAUXHALL CORSA,1000,85000,2013,NaN,Diesel,Hatchback,1.3,Manual,5.0,5.0,Unknown,VAUXHALL,United Kingdom,L,5.0

In [123]:
# Previous Owners
car_df['Previous Owners']=car_df['Previous Owners'].fillna('Unknown')

In [124]:
# Engine_unit
car_df['Engine_unit']=car_df['Engine_unit'].fillna('L')

In [125]:
# 결측치 변수가 일정 개수 이상 포함된 데이터는 제거
#  Emission Class(Euro) 24%, Engine 1.2%, Doors, Seats 중 3개 이상 결측치면 삭제하자.

car_df[~(car_df.isna().sum(axis=1) >=3)]

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Service history,car_brand,country,Engine_unit,Emission Class(Euro)
0,SKODA FABIA,6900,70189,2016,3.0,Diesel,Hatchback,1.4,Manual,5.0,5.0,Unknown,SKODA,Czech Republic,L,6.0
1,VAUXHALL CORSA,1495,88585,2008,4.0,Petrol,Hatchback,1.2,Manual,3.0,5.0,Full,VAUXHALL,United Kingdom,L,4.0
2,HYUNDAI I30,949,137000,2011,Unknown,Petrol,Hatchback,1.4,Manual,5.0,5.0,Unknown,HYUNDAI,South Korea,L,5.0
3,MINI HATCH,2395,96731,2010,5.0,Petrol,Hatchback,1.4,Manual,3.0,4.0,Full,MINI,United Kingdom,L,4.0
4,VAUXHALL CORSA,1000,85000,2013,Unknown,Diesel,Hatchback,1.3,Manual,5.0,5.0,Unknown,VAUXHALL,United Kingdom,L,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2854,RENAULT MEGANE,1395,76202,2006,4.0,Petrol,Hatchback,1.6,Manual,5.0,5.0,Unknown,RENAULT,France,L,4.0
2855,AUDI A4,6990,119000,2012,Unknown,Petrol,Saloon,2.0,Manual,4.0,5.0,Unknown,AUDI,Germany,L,5.0
2856,BMW 3 SERIES,3995,139000,2013,Unknown,Diesel,Saloon,2.0,Manual,4.0,5.0,Unknown,BMW,Germany,L,5.0
2857,HONDA ACCORD,1390,179190,2007,Unknown,Diesel,Estate,2.2,Manual,5.0,5.0,Full,HONDA,Japan,L,4.0
2858,VAUXHALL CORSA,2000,82160,2013,7.0,Petrol,Hatchback,1.2,Manual,5.0,5.0,Unknown,VAUXHALL,United Kingdom,L,5.0

In [126]:
car_df = car_df[~(car_df.isna().sum(axis=1) >=3)]

In [127]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2844 entries, 0 to 2858
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 2844 non-null   object
 1   Price                 2844 non-null   int64
 2   Mileage(miles)        2844 non-null   int64
 3   Registration_Year     2844 non-null   int64
 4   Previous Owners       2844 non-null   object
 5   Fuel type             2844 non-null   object
 6   Body type             2844 non-null   object
 7   Engine                2837 non-null   float64
 8   Gearbox               2844 non-null   object
 9   Doors                 2834 non-null   float64
 10  Seats                 2824 non-null   float64
 11  Service history       2844 non-null   object
 12  car_brand             2844 non-null   object
 13  country               2844 non-null   object
 14  Engine_unit           2844 non-null   object
 15  Emission Class(Euro)  2800 non-null   float64
dtypes: float64(4), int64(3), object(9)
memory usage: 377.7+ KB

In [128]:
car_df.isna().mean()

title                   0.000000
Price                   0.000000
Mileage(miles)          0.000000
Registration_Year       0.000000
Previous Owners         0.000000
Fuel type               0.000000
Body type               0.000000
Engine                  0.002461
Gearbox                 0.000000
Doors                   0.003516
Seats                   0.007032
Service history         0.000000
car_brand               0.000000
country                 0.000000
Engine_unit             0.000000
Emission Class(Euro)    0.015471
dtype: float64

In [129]:
car_df[car_df['Engine'].isna()]

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Service history,car_brand,country,Engine_unit,Emission Class(Euro)
844,AUDI A1,7995,50500,2012,Unknown,Petrol,Hatchback,NaN,Automatic,3.0,4.0,Unknown,AUDI,Germany,L,NaN
1112,FORD FOCUS,1895,109000,2009,Unknown,Petrol,Hatchback,NaN,Manual,5.0,5.0,Unknown,FORD,United States,L,NaN
1693,MAZDA MX-30,13899,13865,2021,Unknown,Electric,SUV,NaN,Automatic,5.0,5.0,Unknown,MAZDA,Japan,L,NaN
1771,NISSAN LEAF,5390,60695,2014,Unknown,Electric,Hatchback,NaN,Automatic,5.0,5.0,Unknown,NISSAN,Japan,L,NaN
2334,VAUXHALL AMPERA,9499,65767,2014,1.0,Petrol Plug-in Hybrid,Hatchback,NaN,Automatic,5.0,4.0,Unknown,VAUXHALL,United Kingdom,L,5.0
2769,ISUZU TROOPER,2250,147700,2001,Unknown,Diesel,SUV,NaN,Automatic,5.0,5.0,Unknown,ISUZU,Japan,L,NaN
2809,VAUXHALL CORSA,13998,28045,2020,Unknown,Electric,Hatchback,NaN,Automatic,5.0,5.0,Unknown,VAUXHALL,United Kingdom,L,NaN

In [130]:
car_df[car_df['Emission Class(Euro)'].isna()]

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Service history,car_brand,country,Engine_unit,Emission Class(Euro)
8,VOLVO 740,750,225318,2025,Unknown,Petrol,Estate,2.3,Automatic,5.0,NaN,Unknown,VOLVO,Sweden,L,NaN
81,RENAULT FLUENCE,2490,67104,2010,1.0,Diesel,Saloon,1.5,Manual,4.0,5.0,Unknown,RENAULT,France,L,NaN
133,HONDA ODYSSEY,2449,88240,2012,Unknown,Petrol,MPV,2.4,Automatic,5.0,7.0,Unknown,HONDA,Japan,L,NaN
146,MERCEDES-BENZ CLK,3995,70000,2009,Unknown,Petrol,Coupe,2.0,Automatic,2.0,5.0,Unknown,MERCEDES-BENZ,Germany,L,NaN
185,MERCEDES-BENZ 260,2995,57400,1991,Unknown,Petrol,Saloon,2.6,Automatic,4.0,NaN,Unknown,MERCEDES-BENZ,Germany,L,NaN
190,MG MIDGET,1875,75043,1972,3.0,Petrol,Convertible,1.3,Manual,2.0,NaN,Unknown,MG,United Kingdom,L,NaN
466,VAUXHALL ASTRA,3950,56800,2015,4.0,Diesel,Hatchback,1.7,Manual,NaN,5.0,Unknown,VAUXHALL,United Kingdom,L,NaN
504,ROVER MINI,1650,49309,1990,4.0,Petrol,Saloon,1.0,Automatic,2.0,NaN,Unknown,ROVER,United Kingdom,L,NaN
564,VOLKSWAGEN POLO,6995,65000,2012,Unknown,Petrol,Hatchback,1.2,Automatic,5.0,5.0,Unknown,VOLKSWAGEN,Germany,L,NaN
571,TOYOTA CAMRY,2389,125000,1990,Unknown,Petrol,Estate,2.0,Automatic,5.0,NaN,Unknown,TOYOTA,Japan,L,NaN
716,HONDA FREED,6700,80000,2012,1.0,Petrol Hybrid,MPV,1.5,Automatic,5.0,6.0,Full,HONDA,Japan,L,NaN
744,NISSAN ELGRAND,4200,96000,2017,3.0,Petrol,Minibus,2.0,Automatic,NaN,7.0,Unknown,NISSAN,Japan,L,NaN
756,TOYOTA YARIS,5480,52624,2013,1.0,Petrol,Hatchback,1.3,Automatic,5.0,5.0,Unknown,TOYOTA,Japan,L,NaN
807,HONDA JAZZ,6750,33000,2013,Unknown,Petrol Hybrid,Hatchback,1.5,Automatic,NaN,5.0,Unknown,HONDA,Japan,L,NaN
818,VOLKSWAGEN POLO,6495,66000,2011,1.0,Petrol,Hatchback,1.2,Automatic,5.0,5.0,Unknown,VOLKSWAGEN,Germany,L,NaN
821,VOLKSWAGEN POLO,6450,53193,2011,Unknown,Petrol,Hatchback,1.2,Automatic,NaN,5.0,Unknown,VOLKSWAGEN,Germany,L,NaN
842,TOYOTA PRIUS,5949,145000,2016,3.0,Petrol Hybrid,Saloon,1.5,Automatic,4.0,5.0,Unknown,TOYOTA,Japan,L,NaN
844,AUDI A1,7995,50500,2012,Unknown,Petrol,Hatchback,NaN,Automatic,3.0,4.0,Unknown,AUDI,Germany,L,NaN
884,VOLKSWAGEN POLO,6900,35515,2012,Unknown,Petrol,Hatchback,1.2,Automatic,NaN,5.0,Unknown,VOLKSWAGEN,Germany,L,NaN
907,VOLKSWAGEN GOLF,2500,124000,1988,7.0,Petrol,Hatchback,1.8,Automatic,5.0,5.0,Unknown,VOLKSWAGEN,Germany,L,NaN
925,PORSCHE 944,6750,121000,1987,7.0,Petrol,Coupe,2.5,Manual,2.0,4.0,Unknown,PORSCHE,Germany,L,NaN
957,NISSAN SUNNY,999,60000,1985,Unknown,Petrol,Saloon,1.3,Manual,4.0,NaN,Unknown,NISSAN,Japan,L,NaN
1051,BMW 3 SERIES,3495,115000,1987,4.0,Petrol,Saloon,1.8,Automatic,4.0,NaN,Unknown,BMW,Germany,L,NaN
1074,CITROEN BX,4975,96000,1990,3.0,Petrol,Hatchback,1.6,Manual,5.0,NaN,Unknown,CITROEN,France,L,NaN
1112,FORD FOCUS,1895,109000,2009,Unknown,Petrol,Hatchback,NaN,Manual,5.0,5.0,Unknown,FORD,United States,L,NaN
1146,MAZDA 3,2495,100305,2008,Unknown,Petrol,Hatchback,1.6,Manual,5.0,5.0,Unknown,MAZDA,Japan,L,NaN
1252,VOLKSWAGEN GOLF,1895,61000,2001,5.0,Petrol,Hatchback,1.6,Automatic,NaN,5.0,Unknown,VOLKSWAGEN,Germany,L,NaN
1256,SEAT LEON,10995,76000,2017,Unknown,Diesel,Hatchback,2.0,Manual,5.0,NaN,Unknown,SEAT,Spain,L,NaN
1443,BMW 5 SERIES,11490,104000,2015,Unknown,Diesel,Saloon,2.0,Automatic,4.0,NaN,Unknown,BMW,Germany,L,NaN
1516,JAGUAR XJ,8000,95000,2011,5.0,Diesel,Saloon,3.0,Automatic,NaN,5.0,Full,JAGUAR,United Kingdom,L,NaN
1612,TOYOTA PRIUS+,9495,55000,2012,1.0,Petrol Hybrid,MPV,1.8,Automatic,5.0,7.0,Full,TOYOTA,Japan,L,NaN
1693,MAZDA MX-30,13899,13865,2021,Unknown,Electric,SUV,NaN,Automatic,5.0,5.0,Unknown,MAZDA,Japan,L,NaN
1725,TOYOTA PRIUS,6350,72000,2012,1.0,Petrol Hybrid,Hatchback,1.8,Automatic,NaN,5.0,Unknown,TOYOTA,Japan,L,NaN
1771,NISSAN LEAF,5390,60695,2014,Unknown,Electric,Hatchback,NaN,Automatic,5.0,5.0,Unknown,NISSAN,Japan,L,NaN
1846,MARCOS MARTINA,11495,19000,1981,5.0,Petrol,Convertible,2.0,Manual,NaN,2.0,Unknown,MARCOS,United Kingdom,L,NaN
2093,MERCEDES-BENZ E CLASS DIESEL ESTATE,8855,74280,2012,2.0,Diesel,Estate,2.1,Automatic,5.0,5.0,Unknown,MERCEDES-BENZ,Germany,L,NaN
2131,HONDA FIT,4450,79208,2010,1.0,Petrol,Hatchback,1.3,Automatic,NaN,5.0,Unknown,HONDA,Japan,L,NaN
2327,LAGONDA LG6 ROADSTER,14995,84000,1953,Unknown,Petrol,Saloon,2.6,Manual,4.0,NaN,Unknown,LAGONDA,United Kingdom,L,NaN
2398,VOLKSWAGEN GOLF,7000,130000,1988,1.0,Petrol,Convertible,1.8,Manual,2.0,NaN,Unknown,VOLKSWAGEN,Germany,L,NaN
2442,VOLKSWAGEN UP,6750,55559,2023,Unknown,Petrol,Hatchback,1.0,Manual,5.0,4.0,Unknown,VOLKSWAGEN,Germany,L,NaN
2683,TOYOTA CARINA,2450,120000,1991,Unknown,Petrol,Saloon,1.6,Manual,4.0,NaN,Unknown,TOYOTA,Japan,L,NaN
2769,ISUZU TROOPER,2250,147700,2001,Unknown,Diesel,SUV,NaN,Automatic,5.0,5.0,Unknown,ISUZU,Japan,L,NaN
2809,VAUXHALL CORSA,13998,28045,2020,Unknown,Electric,Hatchback,NaN,Automatic,5.0,5.0,Unknown,VAUXHALL,United Kingdom,L,NaN
2849,ROVER 800,3975,34000,1995,Unknown,Petrol,Saloon,2.7,Automatic,4.0,NaN,Unknown,ROVER,United Kingdom,L,NaN

In [131]:
car_df['Emission Class(Euro)'] = car_df['Emission Class(Euro)'].fillna('Unknown')

In [132]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2844 entries, 0 to 2858
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 2844 non-null   object
 1   Price                 2844 non-null   int64
 2   Mileage(miles)        2844 non-null   int64
 3   Registration_Year     2844 non-null   int64
 4   Previous Owners       2844 non-null   object
 5   Fuel type             2844 non-null   object
 6   Body type             2844 non-null   object
 7   Engine                2837 non-null   float64
 8   Gearbox               2844 non-null   object
 9   Doors                 2834 non-null   float64
 10  Seats                 2824 non-null   float64
 11  Service history       2844 non-null   object
 12  car_brand             2844 non-null   object
 13  country               2844 non-null   object
 14  Engine_unit           2844 non-null   object
 15  Emission Class(Euro)  2844 non-null   object
dtypes: float64(3), int64(3), object(10)
memory usage: 377.7+ KB

In [133]:
car_df_cleaned = car_df.dropna()
car_df_cleaned

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Service history,car_brand,country,Engine_unit,Emission Class(Euro)
0,SKODA FABIA,6900,70189,2016,3.0,Diesel,Hatchback,1.4,Manual,5.0,5.0,Unknown,SKODA,Czech Republic,L,6.0
1,VAUXHALL CORSA,1495,88585,2008,4.0,Petrol,Hatchback,1.2,Manual,3.0,5.0,Full,VAUXHALL,United Kingdom,L,4.0
2,HYUNDAI I30,949,137000,2011,Unknown,Petrol,Hatchback,1.4,Manual,5.0,5.0,Unknown,HYUNDAI,South Korea,L,5.0
3,MINI HATCH,2395,96731,2010,5.0,Petrol,Hatchback,1.4,Manual,3.0,4.0,Full,MINI,United Kingdom,L,4.0
4,VAUXHALL CORSA,1000,85000,2013,Unknown,Diesel,Hatchback,1.3,Manual,5.0,5.0,Unknown,VAUXHALL,United Kingdom,L,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2854,RENAULT MEGANE,1395,76202,2006,4.0,Petrol,Hatchback,1.6,Manual,5.0,5.0,Unknown,RENAULT,France,L,4.0
2855,AUDI A4,6990,119000,2012,Unknown,Petrol,Saloon,2.0,Manual,4.0,5.0,Unknown,AUDI,Germany,L,5.0
2856,BMW 3 SERIES,3995,139000,2013,Unknown,Diesel,Saloon,2.0,Manual,4.0,5.0,Unknown,BMW,Germany,L,5.0
2857,HONDA ACCORD,1390,179190,2007,Unknown,Diesel,Estate,2.2,Manual,5.0,5.0,Full,HONDA,Japan,L,4.0
2858,VAUXHALL CORSA,2000,82160,2013,7.0,Petrol,Hatchback,1.2,Manual,5.0,5.0,Unknown,VAUXHALL,United Kingdom,L,5.0

In [134]:
car_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2807 entries, 0 to 2858
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 2807 non-null   object
 1   Price                 2807 non-null   int64
 2   Mileage(miles)        2807 non-null   int64
 3   Registration_Year     2807 non-null   int64
 4   Previous Owners       2807 non-null   object
 5   Fuel type             2807 non-null   object
 6   Body type             2807 non-null   object
 7   Engine                2807 non-null   float64
 8   Gearbox               2807 non-null   object
 9   Doors                 2807 non-null   float64
 10  Seats                 2807 non-null   float64
 11  Service history       2807 non-null   object
 12  car_brand             2807 non-null   object
 13  country               2807 non-null   object
 14  Engine_unit           2807 non-null   object
 15  Emission Class(Euro)  2807 non-null   object
dtypes: float64(3), int64(3), object(10)
memory usage: 372.8+ KB

In [135]:
car_df_cleaned = car_df_cleaned.reset_index(drop=True)

In [136]:
car_df_cleaned

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Service history,car_brand,country,Engine_unit,Emission Class(Euro)
0,SKODA FABIA,6900,70189,2016,3.0,Diesel,Hatchback,1.4,Manual,5.0,5.0,Unknown,SKODA,Czech Republic,L,6.0
1,VAUXHALL CORSA,1495,88585,2008,4.0,Petrol,Hatchback,1.2,Manual,3.0,5.0,Full,VAUXHALL,United Kingdom,L,4.0
2,HYUNDAI I30,949,137000,2011,Unknown,Petrol,Hatchback,1.4,Manual,5.0,5.0,Unknown,HYUNDAI,South Korea,L,5.0
3,MINI HATCH,2395,96731,2010,5.0,Petrol,Hatchback,1.4,Manual,3.0,4.0,Full,MINI,United Kingdom,L,4.0
4,VAUXHALL CORSA,1000,85000,2013,Unknown,Diesel,Hatchback,1.3,Manual,5.0,5.0,Unknown,VAUXHALL,United Kingdom,L,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2802,RENAULT MEGANE,1395,76202,2006,4.0,Petrol,Hatchback,1.6,Manual,5.0,5.0,Unknown,RENAULT,France,L,4.0
2803,AUDI A4,6990,119000,2012,Unknown,Petrol,Saloon,2.0,Manual,4.0,5.0,Unknown,AUDI,Germany,L,5.0
2804,BMW 3 SERIES,3995,139000,2013,Unknown,Diesel,Saloon,2.0,Manual,4.0,5.0,Unknown,BMW,Germany,L,5.0
2805,HONDA ACCORD,1390,179190,2007,Unknown,Diesel,Estate,2.2,Manual,5.0,5.0,Full,HONDA,Japan,L,4.0
2806,VAUXHALL CORSA,2000,82160,2013,7.0,Petrol,Hatchback,1.2,Manual,5.0,5.0,Unknown,VAUXHALL,United Kingdom,L,5.0

In [137]:
pd.set_option('display.max_columns', None)

In [138]:
# 국가별 총 브랜드 개수는?
car_df_cleaned.groupby(['country', 'car_brand'])['car_brand'].count().unstack(fill_value=0)

car_brand,ABARTH,ALFA,AUDI,BMW,CHEVROLET,CHRYSLER,CITROEN,DACIA,DAEWOO,DAIHATSU,DODGE,DS,FIAT,FORD,HONDA,HYUNDAI,INFINITI,JAGUAR,JEEP,KIA,LAND,LEXUS,MASERATI,MAZDA,MERCEDES-BENZ,MG,MINI,MITSUBISHI,NISSAN,PEUGEOT,PORSCHE,PROTON,RENAULT,ROVER,SAAB,SEAT,SKODA,SMART,SSANGYONG,SUBARU,SUZUKI,TOYOTA,VAUXHALL,VOLKSWAGEN,VOLVO
country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Czech Republic,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,47,0,0,0,0,0,0,0,0
France,0,0,0,0,0,0,91,0,0,0,0,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,164,0,0,120,0,0,0,0,0,0,0,0,0,0,0,0
Germany,0,0,117,225,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,139,0,0,0,0,0,3,0,0,0,0,0,0,4,0,0,0,0,0,197,0
Italy,3,18,0,0,0,0,0,0,0,0,0,0,83,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Japan,0,0,0,0,0,0,0,0,0,2,0,0,0,0,98,0,7,0,0,0,0,9,0,52,0,0,0,19,129,0,0,0,0,0,0,0,0,0,0,4,34,102,0,0,0
Malaysia,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0
Romania,0,0,0,0,0,0,0,14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
South Korea,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,78,0,0,0,58,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0
Spain,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,46,0,0,0,0,0,0,0,0,0
Sweden,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,0,0,0,0,0,0,0,0,0,33
United Kingdom,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,29,0,0,35,0,0,0,0,9,79,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,390,0,0
United States,0,0,0,0,14,5,0,0,0,0,1,0,0,320,0,0,0,0,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [139]:
# 상관관계
car_df_cleaned.corr()
# Price-Registration_Year

,Price,Mileage(miles),Registration_Year,Engine,Doors,Seats
Price,1.000000,-0.459314,0.740957,0.021388,0.108428,0.020630
Mileage(miles),-0.459314,1.000000,-0.391081,0.316571,-0.026671,0.079553
Registration_Year,0.740957,-0.391081,1.000000,-0.291630,0.195607,0.060791
Engine,0.021388,0.316571,-0.291630,1.000000,-0.098626,0.047273
Doors,0.108428,-0.026671,0.195607,-0.098626,1.000000,0.522795
Seats,0.020630,0.079553,0.060791,0.047273,0.522795,1.000000

In [140]:
car_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2807 entries, 0 to 2806
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 2807 non-null   object
 1   Price                 2807 non-null   int64
 2   Mileage(miles)        2807 non-null   int64
 3   Registration_Year     2807 non-null   int64
 4   Previous Owners       2807 non-null   object
 5   Fuel type             2807 non-null   object
 6   Body type             2807 non-null   object
 7   Engine                2807 non-null   float64
 8   Gearbox               2807 non-null   object
 9   Doors                 2807 non-null   float64
 10  Seats                 2807 non-null   float64
 11  Service history       2807 non-null   object
 12  car_brand             2807 non-null   object
 13  country               2807 non-null   object
 14  Engine_unit           2807 non-null   object
 15  Emission Class(Euro)  2807 non-null   object
dtypes: float64(3), int64(3), object(10)
memory usage: 351.0+ KB

In [141]:
car_df_cleaned.head()

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Service history,car_brand,country,Engine_unit,Emission Class(Euro)
0,SKODA FABIA,6900,70189,2016,3.0,Diesel,Hatchback,1.4,Manual,5.0,5.0,Unknown,SKODA,Czech Republic,L,6.0
1,VAUXHALL CORSA,1495,88585,2008,4.0,Petrol,Hatchback,1.2,Manual,3.0,5.0,Full,VAUXHALL,United Kingdom,L,4.0
2,HYUNDAI I30,949,137000,2011,Unknown,Petrol,Hatchback,1.4,Manual,5.0,5.0,Unknown,HYUNDAI,South Korea,L,5.0
3,MINI HATCH,2395,96731,2010,5.0,Petrol,Hatchback,1.4,Manual,3.0,4.0,Full,MINI,United Kingdom,L,4.0
4,VAUXHALL CORSA,1000,85000,2013,Unknown,Diesel,Hatchback,1.3,Manual,5.0,5.0,Unknown,VAUXHALL,United Kingdom,L,5.0

In [142]:
car_df_cleaned.drop(['Engine_unit'], axis=1, inplace = True)

In [143]:
car_df_cleaned.rename({'Engine':'Engine(L)'},axis=1, inplace = True)

In [144]:
new_car_df=car_df_cleaned.drop(['title'], axis=1)

In [145]:
new_car_df['Previous Owners'].unique()

array([3.0, 4.0, 'Unknown', 5.0, 1.0, 2.0, 6.0, 7.0, 9.0, 8.0],
      dtype=object)

In [148]:
new_car_df2=pd.get_dummies(new_car_df, columns = ['Previous Owners','Fuel type', 'Body type','Gearbox','Service history','car_brand','country','Emission Class(Euro)' ], drop_first = True)

In [75]:
# 스케일링
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler

In [76]:
ss = StandardScaler()
rs = RobustScaler()
mm = MinMaxScaler()

In [164]:
ss_df = pd.DataFrame(ss.fit_transform(new_car_df2), columns = new_car_df2.columns)

In [165]:
ss_df

,Price,Mileage(miles),Registration_Year,Engine(L),Doors,Seats,Previous Owners_2.0,Previous Owners_3.0,Previous Owners_4.0,Previous Owners_5.0,Previous Owners_6.0,Previous Owners_7.0,Previous Owners_8.0,Previous Owners_9.0,Previous Owners_Unknown,Fuel type_Diesel Hybrid,Fuel type_Petrol,Fuel type_Petrol Hybrid,Fuel type_Petrol Plug-in Hybrid,Body type_Convertible,Body type_Coupe,Body type_Estate,Body type_Hatchback,Body type_MPV,Body type_Pickup,Body type_SUV,Body type_Saloon,Gearbox_Manual,Service history_Unknown,car_brand_ALFA,car_brand_AUDI,car_brand_BMW,car_brand_CHEVROLET,car_brand_CHRYSLER,car_brand_CITROEN,car_brand_DACIA,car_brand_DAEWOO,car_brand_DAIHATSU,car_brand_DODGE,car_brand_DS,car_brand_FIAT,car_brand_FORD,car_brand_HONDA,car_brand_HYUNDAI,car_brand_INFINITI,car_brand_JAGUAR,car_brand_JEEP,car_brand_KIA,car_brand_LAND,car_brand_LEXUS,car_brand_MASERATI,car_brand_MAZDA,car_brand_MERCEDES-BENZ,car_brand_MG,car_brand_MINI,car_brand_MITSUBISHI,car_brand_NISSAN,car_brand_PEUGEOT,car_brand_PORSCHE,car_brand_PROTON,car_brand_RENAULT,car_brand_ROVER,car_brand_SAAB,car_brand_SEAT,car_brand_SKODA,car_brand_SMART,car_brand_SSANGYONG,car_brand_SUBARU,car_brand_SUZUKI,car_brand_TOYOTA,car_brand_VAUXHALL,car_brand_VOLKSWAGEN,car_brand_VOLVO,country_France,country_Germany,country_Italy,country_Japan,country_Malaysia,country_Romania,country_South Korea,country_Spain,country_Sweden,country_United Kingdom,country_United States,Emission Class(Euro)_2.0,Emission Class(Euro)_3.0,Emission Class(Euro)_4.0,Emission Class(Euro)_5.0,Emission Class(Euro)_6.0,Emission Class(Euro)_Unknown
0,0.380593,-0.350889,1.008899,-0.475913,0.686041,0.186106,-0.483576,2.360883,-0.323548,-0.251511,-0.140053,-0.117147,-0.065524,-0.042243,-0.720374,-0.018878,-1.325657,-0.078059,-0.042243,-0.179902,-0.19713,-0.210406,0.819651,-0.222139,-0.032709,-0.396294,-0.345280,0.541251,0.432310,-0.080336,-0.208553,-0.295198,-0.070799,-0.042243,-0.183044,-0.070799,-0.018878,-0.026702,-0.018878,-0.046283,-0.174556,-0.358705,-0.190199,-0.169062,-0.05,-0.102172,-0.046283,-0.145254,-0.112367,-0.056715,-0.032709,-0.137385,-0.228252,-0.056715,-0.170173,-0.082553,-0.219477,-0.2491,-0.032709,-0.026702,-0.211328,-0.032709,-0.046283,-0.129076,7.663120,-0.037776,-0.026702,-0.037776,-0.11073,-0.194185,-0.401693,-0.274734,-0.10907,-0.396294,-0.568163,-0.199072,-0.440409,-0.026702,-0.070799,-0.228252,-0.129076,-0.1187,-0.490854,-0.374958,-0.075715,-0.221255,-0.667953,-0.800351,1.763465,-0.070799
1,-0.928099,0.114090,-0.753652,-0.864084,-1.353913,0.186106,-0.483576,-0.423570,3.090733,-0.251511,-0.140053,-0.117147,-0.065524,-0.042243,-0.720374,-0.018878,0.754343,-0.078059,-0.042243,-0.179902,-0.19713,-0.210406,0.819651,-0.222139,-0.032709,-0.396294,-0.345280,0.541251,-2.313153,-0.080336,-0.208553,-0.295198,-0.070799,-0.042243,-0.183044,-0.070799,-0.018878,-0.026702,-0.018878,-0.046283,-0.174556,-0.358705,-0.190199,-0.169062,-0.05,-0.102172,-0.046283,-0.145254,-0.112367,-0.056715,-0.032709,-0.137385,-0.228252,-0.056715,-0.170173,-0.082553,-0.219477,-0.2491,-0.032709,-0.026702,-0.211328,-0.032709,-0.046283,-0.129076,-0.130495,-0.037776,-0.026702,-0.037776,-0.11073,-0.194185,2.489465,-0.274734,-0.10907,-0.396294,-0.568163,-0.199072,-0.440409,-0.026702,-0.070799,-0.228252,-0.129076,-0.1187,2.037267,-0.374958,-0.075715,-0.221255,1.497110,-0.800351,-0.567065,-0.070799
2,-1.060299,1.337833,-0.092696,-0.475913,0.686041,0.186106,-0.483576,-0.423570,-0.323548,-0.251511,-0.140053,-0.117147,-0.065524,-0.042243,1.388167,-0.018878,0.754343,-0.078059,-0.042243,-0.179902,-0.19713,-0.210406,0.819651,-0.222139,-0.032709,-0.396294,-0.345280,0.541251,0.432310,-0.080336,-0.208553,-0.295198,-0.070799,-0.042243,-0.183044,-0.070799,-0.018878,-0.026702,-0.018878,-0.046283,-0.174556,-0.358705,-0.190199,5.914996,-0.05,-0.102172,-0.046283,-0.145254,-0.112367,-0.056715,-0.032709,-0.137385,-0.228252,-0.056715,-0.170173,-0.082553,-0.219477,-0.2491,-0.032709,-0.026702,-0.211328,-0.032709,-0.046283,-0.129076,-0.130495,-0.037776,-0.026702,-0.037776,-0.11073,-0.194185,-0.401693,-0.274734,-0.10907,-0.396294,-0.568163,-0.199072,-0.440409,-0.026702,-0.070799,4.381124,-0.129076,-0.1187,-0.490854,-0.374958,-0.075715,-0.221255,-0.667953,1.249452,-0.567065,-0.070799
3,-0.710185,0.319989,-0.313014,-0.475913,-1.353913,-1.515521,-0.483576,-0.423570,-0.323548,3.975976,-0.140053,-0.117147,-0.065524,-0.042243,-0.720374,-0.018878,0.754343,-0.078059,-0.042243,-0.179902,-0.19713,-0.210406,0.819651,-0.222139,-0.032709,-0.396294,-0.345280,0.541251,-2.313153,-0.080336,-0.208553,-0.295198,-0.070799,-0.042243,-0.183044,-0.070799,-0.018878,-0.026702,-0.018878,-0.046283,-0.174556,-0.358705,-0.190199,-0.169062,-0.05,-0.102172,-0.046283,-0.145254,-0.112367,-0.056715,-0.032709,-0.137385,-0.228252,-0.056715,5.876363,-0.082553,-0.219477,-0.2491,-0.032709,-0.026702,-0.211328,-0.032709,-0.046283,-0.129076,-0.130495,-0.037776,-0.026702,-0.037776,-0.11073,-0.194185,-0.401693,-0.274734,-0.10907,-0.396294,-0.568163,-0.199072,-0.440409,-0.026702,-0.070799,-0.228252,-0.129076,-0.1187,2.037267,-0.374958,-0.075715,-0.221255,1.497110,-0.800351,-0.567065,-0.070799
4,-1.047951,0.023475,0.347942,-0.669999,0.686041,0.186106,-0.483576,-0.423570,-0.323548,-0.251511,-0.140053,-0.117147,-0.065524,-0.042243,1.388167,-0.018878,-1.325657,-0.078059,-0.042243,-0.179902,-0.19713,-0.210406,0.819651,-0.222139,-0.032709,-0.396294,-0.345280,0.541251,0.432310,-0.080336,-0.208553,-0.295198,-0.070799,-0.042243,-0.183044,-0.070799,-0.018878,-0.026702,-0.018878,-0.046283,-0.174556,-0.358705,-0.190199,-0.169062,-0.05,-0.102172,-0.046283,-0.145254,-0.112367,-0.056715,-0.032709,-0.137385,-0.228252,-0.056715,-0.170173,-0.082553,-0.219477,-0.2491,-0.032709,-0.026702,-0.211328,-0.032709,-0.046283,-0.129076,-0.130495,-0.037776,-0.026702,-0.037776,-0.11073,-0.194185,2.489465,-0.274734,-0.10907,-0.396294,-0.568163,-0.199072,-0.440409,-0.026702,-0.070799,-0.228252,-0.129076,-0.1187,2.037267,-0.374958,-0.075715,-0.221255,-0.667953,1.249452,-0.567065,-0.070799
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2802,-0.952311,-0.198904,-1.194290,-0.087743,0.686041,0.186106,-0.483576,-0.423570,3.090733,-0.251511,-0.140053,-0.117147,-0.065524,-0.042243,-0.720374,-0.018878,0.754343,-0.078059,-0.042243,-0.179902,-0.19713,-0.210406,0.819651,-0.222139,-0.032709,-0.396294,-0.345280,0.541251,0.432310,-0.080336,-0.208553,-0.295198,-0.070799,-0.042243,-0.183044,-0.070799,-0.018878,-0.026702,-0.018878,-0.046283,-0.174556,-0.358705,-0.190199,-0.169062,-0.05,-0.102172,-0.046283,-0.145254,-0.112367,-0.056715,-0.032709,-0.137385,-0.228252,-0.056715,-0.170173,-0.082553,-0.219477,-0.2491,-0.032709,-0.026702,4.731983,-0.032709,-0.046283,-0.129076,-0.130495,-0.037776,-0.026702,-0.037776,-0.11073,-0.194185,-0.401693,-0.274734,-0.10907,2.523381,-0.568163,-0.199072,-0.440409,-0.026702,-0.070799,-0.228252,-0.129076,-0.1187,-0.490854,-0.374958,-0.075715,-0.221255,1.497110,-0.800351,-0.567065,-0.070799
2803,0.402384,0.882863,0.127623,0.688598,-0.333936,0.186106,-0.483576,-0.423570,-0.323548,-0.251511,-0.140053,-0.117147,-0.065524,-0.042243,1.388167,-0.018878,0.754343,-0.078059,-0.042243,-0.179902,-0.19713,-0.210406,-1.220031,-0.222139,-0.032709,-0.396294,2.896197,0.541251,0.432310,-0.080336,4.794940,-0.295198,-0.070799,-0.042243,-0.183044,-0.070799,-0.018878,-0.026702,-0.018878,-0.046283,-0.174556,-0.358705,-0.190199,-0.169062,-0.05,-0.102172,-0.046283,-0.145254,-0.112367,-0.056715,-0.032709,-0.137385,-0.228252,-0.056715,-0.170173,-0.082553,-0.219477,-0.2491,-0.032709,-0.026702,-0.211328,-0.032709,-0.046283,-0.129076,-0.130495,-0.037776,-0.026702,-0.037776,-0.11073,-0.194185,-0.401693,-0.274734,-0.10907,-0.396294,1.760060,-0.199072,-0.440409,-0.026702,-0.070799,-0.228252,-0.129076,-0.1187,-0.490854,-0.374958,-0.075715,-0.221255,-0.667953,1.249452,-0.567065,-0.070799
2804,-0.322783,1.388385,0.347942,0.688598,-0.333936,0.186106,-0.483576,-0.423570,-0.323548,-0.251511,-0.140053,-0.117147,-0.065524,-0.042243,1.388167,-0.018878,-1.325657,-0.078059,-0.042243,-0.179902,-0.19713,-0.210406,-1.220031,-0.222139,-0.032709,-0.396294,2.896197,0.541251,0.432310,-0.080336,-0.208553,3.387559,-0.070799,-0.042243,-0.183044,-0.070799,-0.018878,-0.026702,-0.018878,-0.046283,-0.174556,-0.358705,-0.190199,-0.169062,-0.05,-0.102172,-0.046283,-0.145254,-0.112367,-0.056715,-0.032709,-0.137385,-0.228252,-0.056715,-0.170173,-0.082553,-0.219477,-0.2491,-0.032709,-0.026702,-0.211328,-0.032709,-0.046283,-0.129076,-0.130495,-0.037776,-0.026702,-0.037776,-0.11073,-0.194185,-0.401693,-0.274734,-0.10907,-0.396294,1.760060,-0.199072,-0.440409,-0.026702,-0.070799,-0.228252,-0.129076,-0.1187,-0.490854,-0.374958,-0.075715,-0.221255,-0.667953,1.249452,-0.567065,-0.070799
2805,-0.953522,2.404231,-0.973971,1.076769,0.686041,0.186106,-0.483576,-0.423570,-0.323548,-0.251511,-0.140053,-0.117147,-0.065524,-0.042243,1.388167,-0.018878,-1.325657,-0.078059,-0.042243,-0.179902,-0.19713,4.752708,-1.220031,-0.222139,-0.032709,-0.396294,-0.345280,0.541251,-2.313153,-0.080336,-0.208553,-0.295198,-0.070799,-0.042243,-0.183044,-0.070799,-0.018878,-0.026702,-0.018878,-0.046283,-0.174556,-0.358705,5.257647,-0.169062,-0.05,-0.102172,-0.046283,-0.145254,-0.112367,-0.056715,-0.032709,-0.137385,-0.228252,-0.056715,-0.170173,-0.082553,-0.219477,-0.2491,-0.032709,-0.026702,-0.211328,-0.032709,-0.046283,-0.129076,-0.130495,-0.037776,-0.026702,-0.037776,-0.11073,-0.194185,-0.401693,-0.274734,-0.10907,-0.396294,-0.568163,-0.199072,2.270617,-0.026702,-0.070799,-0.228252,-0.129076,-0.1187,-0.490854,-0.374958,-0.075715,-0.221255,1.497110,-0.800351,-0.567065,-0.070799
2806,-0.805825,-0.048309,0.347942,-0.864084,0.686041,0.186106,-0.483576,-0.423570,-0.323548,-0.251511,-0.140053,8.536300,-0.065524,-0.042243,-0.720374,-0.018878,0.754343,-0.078059,-0.042243,-0.179902,-0.19713,-0.210406,0.819651,-0.222139,-0.032709,-0.396294,-0.345280,0.541251,0.432310,-0.080336,-0.208553,-0.295198,-0.070799,-0.042243,-0.183044,-0.070799,-0.018878,-0.026702,-0.018878,-0.046283,-0.174556,-0.358705,-0.190199,-0.169062,-0.05,-0.102172,-0.046283,-0.145254,-0.112367,-0.056715,-0.032709,-0.137385,-0.228252,-0.056715,-0.170173,-0.082553,-0.219477,-0.2491,-0.032709,-0.026702,-0.211328,-0.032709,-0.046283,-0.129076,-0.130495,-0.037776,-0.026702,-0.037776,-0.11073,-0.194185,2.489465,-0.274734,-0.10907,-0.396294,-0.568163,-0.199072,-0.440409,-0.026702,-0.070799,-0.228252,-0.129076,-0.1187,2.037267,-0.374958,-0.075715,-0.221255,-0.667953,1.249452,-0.567065,-0.070799

In [166]:
rs_df = pd.DataFrame(rs.fit_transform(new_car_df2), columns = new_car_df2.columns)

In [167]:
rs_df

,Price,Mileage(miles),Registration_Year,Engine(L),Doors,Seats,Previous Owners_2.0,Previous Owners_3.0,Previous Owners_4.0,Previous Owners_5.0,Previous Owners_6.0,Previous Owners_7.0,Previous Owners_8.0,Previous Owners_9.0,Previous Owners_Unknown,Fuel type_Diesel Hybrid,Fuel type_Petrol,Fuel type_Petrol Hybrid,Fuel type_Petrol Plug-in Hybrid,Body type_Convertible,Body type_Coupe,Body type_Estate,Body type_Hatchback,Body type_MPV,Body type_Pickup,Body type_SUV,Body type_Saloon,Gearbox_Manual,Service history_Unknown,car_brand_ALFA,car_brand_AUDI,car_brand_BMW,car_brand_CHEVROLET,car_brand_CHRYSLER,car_brand_CITROEN,car_brand_DACIA,car_brand_DAEWOO,car_brand_DAIHATSU,car_brand_DODGE,car_brand_DS,car_brand_FIAT,car_brand_FORD,car_brand_HONDA,car_brand_HYUNDAI,car_brand_INFINITI,car_brand_JAGUAR,car_brand_JEEP,car_brand_KIA,car_brand_LAND,car_brand_LEXUS,car_brand_MASERATI,car_brand_MAZDA,car_brand_MERCEDES-BENZ,car_brand_MG,car_brand_MINI,car_brand_MITSUBISHI,car_brand_NISSAN,car_brand_PEUGEOT,car_brand_PORSCHE,car_brand_PROTON,car_brand_RENAULT,car_brand_ROVER,car_brand_SAAB,car_brand_SEAT,car_brand_SKODA,car_brand_SMART,car_brand_SSANGYONG,car_brand_SUBARU,car_brand_SUZUKI,car_brand_TOYOTA,car_brand_VAUXHALL,car_brand_VOLKSWAGEN,car_brand_VOLVO,country_France,country_Germany,country_Italy,country_Japan,country_Malaysia,country_Romania,country_South Korea,country_Spain,country_Sweden,country_United Kingdom,country_United States,Emission Class(Euro)_2.0,Emission Class(Euro)_3.0,Emission Class(Euro)_4.0,Emission Class(Euro)_5.0,Emission Class(Euro)_6.0,Emission Class(Euro)_Unknown
0,0.639094,-0.296003,0.833333,-0.285714,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,-0.549995,0.108429,-0.500000,-0.571429,-1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,-0.670113,1.172822,0.000000,-0.285714,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,-0.351996,0.287517,-0.166667,-0.285714,-1.0,-1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,-0.658893,0.029614,0.333333,-0.428571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2802,-0.571994,-0.163809,-0.833333,0.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2803,0.658893,0.777096,0.166667,0.571429,-0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2804,0.000000,1.216792,0.333333,0.571429,-0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2805,-0.573094,2.100361,-0.666667,0.857143,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.0,0.0,0.0,0.0,0.0,1.0,-1.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2806,-0.438896,-0.032823,0.333333,-0.571429,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [168]:
mm_df = pd.DataFrame(mm.fit_transform(new_car_df2), columns = new_car_df2.columns)

In [169]:
mm_df

,Price,Mileage(miles),Registration_Year,Engine(L),Doors,Seats,Previous Owners_2.0,Previous Owners_3.0,Previous Owners_4.0,Previous Owners_5.0,Previous Owners_6.0,Previous Owners_7.0,Previous Owners_8.0,Previous Owners_9.0,Previous Owners_Unknown,Fuel type_Diesel Hybrid,Fuel type_Petrol,Fuel type_Petrol Hybrid,Fuel type_Petrol Plug-in Hybrid,Body type_Convertible,Body type_Coupe,Body type_Estate,Body type_Hatchback,Body type_MPV,Body type_Pickup,Body type_SUV,Body type_Saloon,Gearbox_Manual,Service history_Unknown,car_brand_ALFA,car_brand_AUDI,car_brand_BMW,car_brand_CHEVROLET,car_brand_CHRYSLER,car_brand_CITROEN,car_brand_DACIA,car_brand_DAEWOO,car_brand_DAIHATSU,car_brand_DODGE,car_brand_DS,car_brand_FIAT,car_brand_FORD,car_brand_HONDA,car_brand_HYUNDAI,car_brand_INFINITI,car_brand_JAGUAR,car_brand_JEEP,car_brand_KIA,car_brand_LAND,car_brand_LEXUS,car_brand_MASERATI,car_brand_MAZDA,car_brand_MERCEDES-BENZ,car_brand_MG,car_brand_MINI,car_brand_MITSUBISHI,car_brand_NISSAN,car_brand_PEUGEOT,car_brand_PORSCHE,car_brand_PROTON,car_brand_RENAULT,car_brand_ROVER,car_brand_SAAB,car_brand_SEAT,car_brand_SKODA,car_brand_SMART,car_brand_SSANGYONG,car_brand_SUBARU,car_brand_SUZUKI,car_brand_TOYOTA,car_brand_VAUXHALL,car_brand_VOLKSWAGEN,car_brand_VOLVO,country_France,country_Germany,country_Italy,country_Japan,country_Malaysia,country_Romania,country_South Korea,country_Spain,country_Sweden,country_United Kingdom,country_United States,Emission Class(Euro)_2.0,Emission Class(Euro)_3.0,Emission Class(Euro)_4.0,Emission Class(Euro)_5.0,Emission Class(Euro)_6.0,Emission Class(Euro)_Unknown
0,0.194030,0.063227,0.805556,0.109091,1.000000,0.6,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.032687,0.079798,0.583333,0.072727,0.333333,0.6,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.016388,0.123412,0.666667,0.109091,1.000000,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.059552,0.087136,0.638889,0.109091,0.333333,0.4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.017910,0.076569,0.722222,0.090909,1.000000,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2802,0.029701,0.068643,0.527778,0.145455,1.000000,0.6,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2803,0.196716,0.107197,0.694444,0.218182,0.666667,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2804,0.107313,0.125213,0.722222,0.218182,0.666667,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2805,0.029552,0.161417,0.555556,0.254545,1.000000,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2806,0.047761,0.074011,0.722222,0.072727,1.000000,0.6,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [162]:
new_car_df2.columns

Index(['Price', 'Mileage(miles)', 'Registration_Year', 'Engine(L)', 'Doors',
       'Seats', 'Previous Owners_2.0', 'Previous Owners_3.0',
       'Previous Owners_4.0', 'Previous Owners_5.0', 'Previous Owners_6.0',
       'Previous Owners_7.0', 'Previous Owners_8.0', 'Previous Owners_9.0',
       'Previous Owners_Unknown', 'Fuel type_Diesel Hybrid',
       'Fuel type_Petrol', 'Fuel type_Petrol Hybrid',
       'Fuel type_Petrol Plug-in Hybrid', 'Body type_Convertible',
       'Body type_Coupe', 'Body type_Estate', 'Body type_Hatchback',
       'Body type_MPV', 'Body type_Pickup', 'Body type_SUV',
       'Body type_Saloon', 'Gearbox_Manual', 'Service history_Unknown',
       'car_brand_ALFA', 'car_brand_AUDI', 'car_brand_BMW',
       'car_brand_CHEVROLET', 'car_brand_CHRYSLER', 'car_brand_CITROEN',
       'car_brand_DACIA', 'car_brand_DAEWOO', 'car_brand_DAIHATSU',
       'car_brand_DODGE', 'car_brand_DS', 'car_brand_FIAT', 'car_brand_FORD',
       'car_brand_HONDA', 'car_brand_HYUNDAI', 'car_brand_INFINITI',
       'car_brand_JAGUAR', 'car_brand_JEEP', 'car_brand_KIA', 'car_brand_LAND',
       'car_brand_LEXUS', 'car_brand_MASERATI', 'car_brand_MAZDA',
       'car_brand_MERCEDES-BENZ', 'car_brand_MG', 'car_brand_MINI',
       'car_brand_MITSUBISHI', 'car_brand_NISSAN', 'car_brand_PEUGEOT',
       'car_brand_PORSCHE', 'car_brand_PROTON', 'car_brand_RENAULT',
       'car_brand_ROVER', 'car_brand_SAAB', 'car_brand_SEAT',
       'car_brand_SKODA', 'car_brand_SMART', 'car_brand_SSANGYONG',
       'car_brand_SUBARU', 'car_brand_SUZUKI', 'car_brand_TOYOTA',
       'car_brand_VAUXHALL', 'car_brand_VOLKSWAGEN', 'car_brand_VOLVO',
       'country_France', 'country_Germany', 'country_Italy', 'country_Japan',
       'country_Malaysia', 'country_Romania', 'country_South Korea',
       'country_Spain', 'country_Sweden', 'country_United Kingdom',
       'country_United States', 'Emission Class(Euro)_2.0',
       'Emission Class(Euro)_3.0', 'Emission Class(Euro)_4.0',
       'Emission Class(Euro)_5.0', 'Emission Class(Euro)_6.0',
       'Emission Class(Euro)_Unknown'],
      dtype='object')

In [170]:
# pca
from sklearn.decomposition import PCA
pca  = PCA()

In [171]:
pca.fit(new_car_df2)

PCA()

In [172]:
pca=PCA(2)

In [173]:
pd.DataFrame(pca.fit_transform(new_car_df2), columns = ['PC1','PC2'])

               PC1          PC2
0    -13941.975912   899.432687
1      4693.648420 -3610.600500
2     53078.500525 -1817.161780
3     12786.661472 -2318.138557
4      1136.745720 -4278.200134
...            ...          ...
2802  -7670.063856 -4308.674696
2803  34807.690759  3347.252766
2804  54929.021466  1321.897432
2805  95197.941221   661.405784
2806  -1748.245935 -3416.560737

[2807 rows x 2 columns]

In [174]:
(pca.explained_variance_ratio_).sum()

0.9999999906662754